.voteCounter-wrapper {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    margin: .25em;
}

.voteCounter-wrapper>button {
    background-color: lightslategray;
    border: 1px solid black;
    border-radius: 10%;
    font-weight: bold;
    margin: .25em;
    padding: .5em;
}