.login-form {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    color: black;
}

.login-email,
.login-password {
    display: inline-block;
    width: 216px;
    height: 32px;
    font-size: 13px;
    line-height: 16px;
    background-color: peachpuff;
    padding: 0 10px;
    margin: 10px 8px 10px 0;
    border: 1px solid #b3b6b9;
    border-radius: 3px;
}

.login-button {
    display: inline-block;
    width: auto;
    height: 32px;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    background-color: transparent;
    padding: 0 20px;
    margin: 10px 1em;
    border: 1px solid #fff;
    border-radius: 3px;
    cursor: pointer;
}

.login-button:hover {
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
}