* {
    margin: 0;
    box-sizing: border-box;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration-line: none;
    color: lightseagreen;
    padding: .4em;
    font-size: 1.2em;
}

a:hover {
    background-color: rgba(255, 0, 0, .4);
    color: rgb(76, 132, 158);
}

a:focus {
    background-color: rgba(255, 100, 0, .5);
    color: rgb(76, 132, 158);
}

input {
    border: none;
    border-bottom: 1px silver dashed;
    text-align: center;
    padding: .2em;
}

input:focus {
    outline: none;
    background-color: bisque;
}

.loading-wrapper {
    display: flex;
    height: 100%;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    color: silver;
}

h1,
h2,
h3,
p,
input {
    color: grey;
}