body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
}

.text {
    text-align: center;
    margin: auto;
}

.row2 {
    text-align: center;
    margin: auto;
}