* {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Barlow', sans-serif;
	margin: 0;
	background-color: yellow;
}

.container {
	width: 100%;
	height: 100vh;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6);
	grid-template-areas: "s1 s1 h h h h h h h h s2 s2" "s1 s1 c c c c c c c c s2 s2" "s1 s1 c c c c c c c c s2 s2" "s1 s1 c c c c c c c c s2 s2" "s1 s1 c c c c c c c c s2 s2" "s1 s1 f f f f f f f f s2 s2";
}

.header {
	grid-area: h;
}

.navbar-brand {
	width: 10em;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 3em;
	color: black;
	padding: 16 0 0 0;
	margin: 0 16 0 0;
}

#navbarNav {
	position: absolute;
	right: 1em;
	display: flex;
	flex-direction: column;
}

.navbar-nav > a {
	color: black;
	font-family: 'Pangolin', cursive;
	font-weight: bolder;
	text-decoration: underline;
}

.sidebar1 {
	grid-area: s1;
	width: 11em;
	background-repeat: repeat;
	background-image: url("./img/cat-paw-prints.png");
}

.sidebar2 {
	grid-area: s2;
	width: 11em;
	margin-left: 1em;
	background-repeat: repeat;
	background-image: url("./img/cat-paw-prints.png");
}

.content {
	grid-area: c;
}

.content>h1 {
	text-align: center;
}

#indentLine {
	text-indent: 2em;
}

.about {
	display: inline-block;
}

.about>ul {
	font-size: 1.5em;
	margin-top: 3em;
}

.content>h3 {
	text-decoration: underline;
}

#qty {
	margin-left: 2em;
	margin-right: 2em;
	font-weight: bold;
}

#pricing {
	font-weight: bold;
}

button {
	margin-left: 4em;
}

.footer {
	grid-area: f;
	font-size: 2em;
	line-height: 1em;
	text-align: center;
	font-weight: bolder;
	margin: 0;
}

/* Images */

#logo {
	width: 25%;
	size: 25%;
}

.content>img {
	width: 100%;
	height: 100%;
	border: 2px solid black;
}

#profile {
	width: 50%;
	height: 50%;
	border: 1px solid black;
}

#dayman {
	width: 50%;
	height: 50%;
	border: 1px solid black;
}

#greenman {
	width: 50%;
	height: 50%;
	border: 1px solid black;
}

#poster {
	width: 100%;
	height: 100%;
	border: 1px solid black;
}